[discord]
token = "MTM....."
server = "1326230604295180423" # server snowflake it host and to interacts
mentions = { "geckyzz" = 123456789012345678 } # Map @name in comments to <@snowflake> in announcement message key (supports string or integer)
announce.channel = "1234567890" # channel snowflake to announce at
members.admins.allow = true # give all admins (other than the bot owner) access to the bot
members.moderators.allow = false # give all members with manage message perm to access the bot
members.others.allow = [] # list of user snowflakes to have access

# Global Discord Embed defaults (overridable per monitor)
# embed.author.url = "https://i.imgur.com/some-global-author-image.png"
# fields.comment_id = false
# display.user_content_image = false

[config]
monitor.by = "PT30M" # how long before next check to be attempted in ISO 8601 (or "30m")
time.uniform = false # align checks to the closest tens of minutes (e.g. 00:35 -> next at 00:40)
nyaa.proxy.url = "" # Your nyaa-api-worker base url
animetosho.old.page.max = 5
animetosho.new.page.max = 5
nekobt.api.key = ""
anirena.api.key = ""

[monitor.nyaa.normies]
keywords = ["fansubs", "raws"] # list of keywords to search on nyaa
uploaders = ["username1", "username2"]
sort = "comments" # comments, size, id, seeders, leechers, downloads
order = "desc"    # desc, asc
page.max = 0
discord.embed.author.url = "https://i.imgur.com/some-nyaa-image.png"
discord.fields.comment_id = false
discord.display.user_content_image = false

[monitor.sukebei.lewd]
uploaders = ["uploader_name"]
sort = "id"
order = "desc"
page.max = 0
discord.embed.author.url = "https://i.imgur.com/some-sukebei-image.png"

[monitor.animetosho_new.all]
keywords = ["Gecko"]
page.max = 5
discord.embed.author.url = "https://i.imgur.com/some-at-new-image.png"

[monitor.animetosho_old.all]
keywords = ["Gecko", "geckyzz", "CicakRumah", "TokekHutan"]
page.max = 5
discord.embed.author.url = "https://i.imgur.com/some-at-image.png"

[monitor.nekobt.my_group]
groups = ["12345"] # Monitor specific group ID
uploaders = ["67890"] # Monitor specific uploader ID
media = ["s123", "tmdb:456", "tvdb:789"] # Monitor specific media ID, tmdb ID, or tvdb ID
keywords = ["some search term"] # Optional keyword search fallback
sort = "comments" # best, latest, oldest, rss, seeders, downloads, comments, etc.
discord.embed.author.url = "https://i.imgur.com/some-nekobt-image.png"

[monitor.anirena.normies]
keywords = ["fansubs", "raws"] # list of keywords to search on AniRena
uploaders = ["username1"] # AniRena username
sort = "comments" # comments, size, id, seeders, leechers, downloads
order = "desc"    # desc, asc
page.max = 0
discord.embed.author.url = "https://i.imgur.com/some-anirena-image.png"

[monitor.tsukihime.my_group]
groups = ["16", "Gecko"] # Monitor specific group ID or group name
uploaders = ["19", "TokekHutan"] # Monitor specific commenter/uploader user ID or username
media = ["79", "mal:59970"] # Monitor specific series by TsukiHime ID, mal:ID, anilist:ID, anidb:ID
keywords = ["Snowball Earth"]
page.max = 1
discord.embed.author.url = "https://i.imgur.com/some-tsukihime-image.png"

[monitor.tsukihime.feedback]
keywords = ["magnet", "DDL"] # list of keywords to monitor general feedback comments
page.max = 1
discord.embed.author.url = "https://i.imgur.com/some-feedback-image.png"
